<div class="container">
    <header>
        <h1>Jak grać w Kasdep Game</h1>
    </header>
    <button class="close-btn" mat-dialog-close>
        <i class="fas fa-times"></i>
    </button>
    <section class="info">
        <ul class="instruction">
            <li><i class="fas fa-chevron-right"></i>Rzucaj kostką raz za razem</li>
            <li><i class="fas fa-chevron-right"></i>Będziesz przesuwać się po planszy zgodnie z wyrzuconą liczbą oczek</li>
            <li><i class="fas fa-chevron-right"></i>Pola 12 i 19 są polami specjalnymi</li>
            <li><i class="fas fa-chevron-right"></i>Wejście na pole 12 kończy grę porażką</li>
            <li><i class="fas fa-chevron-right"></i>Wejście na pole 19 cofa pionek o 8 pozycji</li>
            <li><i class="fas fa-chevron-right"></i>Aby wygrać grę należy osiągnąć pole 20</li>
            <li><i class="fas fa-chevron-right"></i>Jeżeli po rzucie przekraczasz pole 20, cofasz się o nadmierną liczbę oczek</li>
        </ul>
    </section>
</div>